enum Secrets {
    static let lastFMApiKey = "YOUR_LASTFM_API_KEY"
    static let lastFMApiSecret = "YOUR_LASTFM_API_SECRET"
}

extension Secrets {
    #if os(macOS)
    static let revenueCatAPIKey = "appl_YOUR_MAC_REVENUECAT_PUBLIC_KEY"
    #else
    static let revenueCatAPIKey = "appl_YOUR_IOS_REVENUECAT_PUBLIC_KEY"
    #endif
}
